<header>

    <!-- Top bar -->

    <nav class="top-nav">
        <!-- Hamburger -->
        <div class="container">
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </a>
        </div>

        <div class="container">
            <div class="nav-wrapper">

                <a class="brand-logo center">Dwight</a>
            </div>
        </div>
    </nav>

    <!-- Lateral Menu -->

    <ul id="nav-mobile" class="side-nav fixed">
        <!-- Logo -->

        <div class="brand-logo">
            <img  class="dwight-logo" src="images/dwight.png" alt="">
        </div>

        <!-- Links -->

        <li class="bold"><a class="white-text waves-effect waves-red" href="/youtube"><i class="fa fa-youtube-play fa-2x" style="color:#E62117" aria-hidden="true"></i> Youtube</a></li>
        <li class="bold"><a class="white-text waves-effect waves-purple" href="/"><i class="fa fa-twitch fa-2x" style="color:#6441A5" aria-hidden="true"></i> Twitch</a></li>
        <li class="bold"><a class="white-text waves-effect" href="ts149.nitrado.net:10450"><i class="fa fa-microphone fa-2x" style="color:#4C4A49" aria-hidden="true"></i> TeamSpeak</a></li>
        <li class="bold"><a class="white-text waves-effect" href="#"><i class="fa fa-users fa-2x" style="color:#4C4A49" aria-hidden="true"></i> Partenaires</a></li>
        <li class="bold"><a class="white-text waves-effect" href="/contact"><i class="fa fa-envelope-o fa-2x" style="color:#4C4A49" aria-hidden="true"></i> Contact</a></li>

        <!-- Twitter Timeline -->
        <twitter-timeline twitter-timeline-id="'844856706433638400'"
                          twitter-timeline-options='{"lang": "fr", "height": "450", "width": "100%"}'
                          class="twitter-timeline"  >
        </twitter-timeline>

        <!-- Icons -->
        <div class="row community-row">
            <div class="input-field col s2 community-element">
                <div class="brand-logo">
                    <img  class="community-logo" src="images/steam.png" alt="">
                </div>
            </div>
            <div class="input-field col s2 community-element">
                <div class="brand-logo">
                    <img  class="community-logo" src="images/youtube.png" alt="">
                </div>
            </div>
            <div class="input-field col s2 community-element">
                <div class="brand-logo">
                    <img  class="community-logo" src="images/twitter.png" alt="">
                </div>
            </div>
            <div class="input-field col s2 community-element">
                <div class="brand-logo">
                    <img  class="community-logo" src="images/facebook.png" alt="">
                </div>
            </div>
            <div class="input-field col s2 community-element">
                <div class="brand-logo">
                    <img  class="community-logo" src="images/instagram.png" alt="">
                </div>
            </div>
            <div class="input-field col s2 community-element">
                <div class="brand-logo">
                    <img  class="community-logo" src="images/snapchat.png" alt="">
                </div>
            </div>
        </div>
    </ul>

    <ul id="nav-mobile2"  class="right fixed right-aligned side-nav twitch-chat">
        <iframe src="http://www.twitch.tv/dwight44954/chat?popout" scrolling="no" width="100%" height="100%" frameborder="0"></iframe>

    </ul>
</header>



<!-- Previous version
<nav class="navigation-bar">
    <ul id="slide-out" class="side-nav fixed">
        <div class="brand-logo">
            <img  class="dwight-logo" src="images/dwight.png" alt="">
        </div>

        <div class="navigation-menu">
            <li class="bold"><a class="white-text waves-effect waves-red" href="/youtube"><i class="fa fa-youtube-play fa-2x" style="color:#E62117" aria-hidden="true"></i> Youtube</a></li>
            <li class="bold"><a class="white-text waves-effect waves-purple" href="/"><i class="fa fa-twitch fa-2x" style="color:#6441A5" aria-hidden="true"></i> Twitch</a></li>
            <li class="bold"><a class="white-text waves-effect" href="ts149.nitrado.net:10450"><i class="fa fa-microphone fa-2x" style="color:#4C4A49" aria-hidden="true"></i> TeamSpeak</a></li>
            <li class="bold"><a class="white-text waves-effect" href="#"><i class="fa fa-users fa-2x" style="color:#4C4A49" aria-hidden="true"></i> Partenaires</a></li>
            <li class="bold"><a class="white-text waves-effect" href="#"><i class="fa fa-envelope-o fa-2x" style="color:#4C4A49" aria-hidden="true"></i> Contact</a></li>
        </div>

        <twitter-timeline twitter-timeline-id="'844856706433638400'"
                          twitter-timeline-options='{"lang": "fr", "height": "500", "width": "100%"}'>
        </twitter-timeline>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
</nav>
-->