<!--
<nav class="side-nav fixed">
    <div class="nav-wrapper grey darken-3">
        <a href="/" class="brand-logo center">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
        <ul id="nav-mobile-left" class="left hide-on-med-and-down">
            <li><a href="/youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube</a></li>
            <li><a href="/"><i class="fa fa-twitch" aria-hidden="true"></i> Twitch</a></li>
        </ul>
        <ul id="nav-mobile-right" class="right hide-on-med-and-down">
            <li><a href="#"><i class="fa fa-microphone" aria-hidden="true"></i> TeamSpeak</a></li>
            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Partenaires</a></li>
            <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact</a></li>
        </ul>

        &lt;!&ndash;Mobile Collapsible Menu&ndash;&gt;
        <ul class="side-nav grey darken-3" id="mobile-demo">
            <li><a class="white-text" href="/youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube</a></li>
            <li><a class="white-text" href="/"><i class="fa fa-twitch" aria-hidden="true"></i> Twitch</a></li>
            <li><a class="white-text" href="#"><i class="fa fa-microphone" aria-hidden="true"></i> TeamSpeak</a></li>
            <li><a class="white-text" href="#"><i class="fa fa-users" aria-hidden="true"></i> Partenaires</a></li>
            <li><a class="white-text" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact</a></li>
        </ul>
    </div>
</nav>
-->


<nav class="navigation-menu">
    <ul class="hide-on-med-and-down">
        <li><a href="/" class="brand-logo"></a></li>
        <li><a href="#!">First Sidebar Link</a>dzqdzq</li>
        <li><a href="#!">Second Sidebar Link</a>qzdzq</li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
        <div class="brand-logo">
            <li><a href="/" ><img  class="dwight-logo" src="images/dwight.png" alt=""></a></li>
        </div>

        <div>
            <li class="bold"><a href="/youtube" class="waves-effect waves-teal">Youtube</a></li>
            <li class="bold"><a href="/" class="">Twitch</a></li>
        </div>

    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
</nav>