<nav class="nav-extended">
    <div class="nav-wrapper grey darken-3">
        <a href="/" class="brand-logo center">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <ul id="nav-mobile-left" class="left hide-on-med-and-down">
            <li><a href="/youtube">Youtube</a></li>
            <li><a href="/twitch">Twitch</a></li>
        </ul>
        <ul id="nav-mobile-right" class="right hide-on-med-and-down">
            <li><a href="#">TeamSpeak</a></li>
            <li><a href="#">Partenaires</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <!--Mobile Collapsible Menu-->
        <ul class="side-nav grey darken-3" id="mobile-demo">
            <li><a class="white-text" href="/youtube">Youtube</a></li>
            <li><a class="white-text" href="/twitch">Twitch</a></li>
            <li><a class="white-text" href="#">TeamSpeak</a></li>
            <li><a class="white-text" href="#">Partenaires</a></li>
            <li><a class="white-text" href="#">Contact</a></li>
        </ul>
    </div>
</nav>

