#flex-container {
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    margin: 0 auto;
    width: 100%;
}


.flex-twitter {
    height: auto;
    border: 1px black solid;
    background: #369;
    flex-grow: 0;
}

.flex-ui {
    width: auto;
    height: auto;
    border: 1px black solid;
    background: #FF0000;
    flex-grow: 2;
}

.flex_twitcher {
    flex-grow: 1;
}