body{
    background-color: #292F33;
}

/* Navigation Menu */

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

nav{
    background-color: #C15515;
}

.side-nav{
    background-color: #4C4A49;
}


/* Youtube.js */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Logo in Nav */

.brand-logo{
    padding-bottom: 50px;
}
.dwight-logo{
    width:100%;
    height:100%;
    object-fit: contain;
}