header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

nav{
    background-color: #C15515;
}

.top-nav{
    margin-bottom: 2em;
}

.side-nav{
    background-color: #292F33;
}

.twitter-timeline{
    margin-top: 1em;
}

.dwight-logo{
    height:100px;
    margin:0;
}

.brand-logo{
    padding-top: 20px;
    width:100%;
    text-align: center;
}
