header, main, footer {
    padding-left: 180px;
    padding-right: 180px;


}

.dwight-banner{
    width:auto;
    height:44px;
    margin-top: 10px;
}


@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
    }
    .twitch-subchat{
        display: none;
    }

    .dwight-banner{
        width:auto;
        height:34px;
        margin-top: 15px;
    }
}

@media only screen and (min-width:993px) and (max-width : 1250px) {
    header, main, footer {
        padding-right: 0;
    }
    main{
        padding-left: 200px;
        margin-right: -100px;
    }
    .top-nav{
        padding-left: 128px
    }
    .twitch-chat{
        display: none;
        width:0;
    }

    .twitch-subchat{
        display: block;
    }

}

nav{
    background-color: #C15515;
}

.top-nav{
    margin-bottom: 2em;
}

.side-nav{
    background-color: #292F33;
}

.twitter-timeline{
    margin-bottom: -1em;
}

.dwight-logo{
    height:100px;
    margin:0;
}

.brand-logo{
    padding-top: 20px;
    width:100%;
    text-align: center;
}

.community-logo{
    height: 25px;
}
