<!DOCTYPE html>
<html>
  <head>
    <title>Mr.Dwight</title>
    <%= favicon_link_tag 'dwight.png' %>
    <%= csrf_meta_tags %>
  
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body ng-app="canonball">
    <div ng-include="'_navigation.html'"></div>

    <main>
      <div class="container">
        <ui-view></ui-view>
      </div>
    </main>

  </body>
</html>
