<!DOCTYPE html>
<html>
  <head>
    <title>CanonballApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body ng-app="canonball">
    <p ng-if="name">Hello {{name}}</p>
    <input type="text" ng-model="name">
  </body>
</html>
