<!DOCTYPE html>
<html>
  <head>
    <title>CanonballApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body ng-app="canonball">
    <div ng-include="'_navigation.html'"></div>
    <ui-view></ui-view>
  </body>
</html>
